<ul class="list-unstyled data-tree">
	<li ng-repeat="(key, value) in json" ng-init="expand=false;">
		<span ng-class="getClass(value, expand)" class="pull-left text-primary"></span>
		<div
			class="key text-primary"
			ng-click="expand = !expand">
			{{key}}:</div>
		<div ng-if="!isExpandable(value)" class="value text-success">
			<span ng-bind-html="getValue(value)"></span>
		</div>
		<div ng-if="isExpandable(value)">
			<div class="value">{{getType(value)}}</div>
			<div ng-include="'json-tree.html'" ng-init="json=value" ng-show="expand"></div>
		</div>
	</li>
</ul>
